.navbar-inverse {
    background-color: #980709;
}

.brand, .navbar-brand {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-size: 24px;
}

.sexy {
    font-family: 'Cinzel Decorative', cursive;
}

.container {
  font-family: 'Open Sans', sans-serif;
}

