<center>
<%# image_tag 'vlm_logo.jpg' %>
</center>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1 class="jumbotron-title brand">ViewersLike<span class="sexy">Me</span></h1>
  <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
  <p>
  <%= link_to 'Find your Movie', search_path, class: "btn btn-lg btn-danger"  %>
  </p>
</div>
