<div class="row">
    <div class="col-lg-12 movie-search">
        <input type="search" class="form-control input-lg query" placeholder="e.g. Shawshank">
    </div>
</div>

<script type="x-template/mustache" id="template-dropdown">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5">
            <img height="250" width="169" src="/proxy?url={{img}}"
                style="margin: 10px auto; display: block;">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7">
            <h2>{{title}} ({{year}})</h2>
            <h3>Rating: {{score}}/10</h3>
            <p>{{description}}</p>
        </div>
    </div>
</script>

<script>
    $(function() {
        $('input.query').typeahead({
            name: 'movies',
            valueKey: 'title',
            template: $('#template-dropdown').html(),
            engine: Hogan,
            remote: {
                url: '/search?query=%QUERY',
                filter: function(resp) {
                    console.log(resp);
                    return resp.hits;
                }
            }
        });

        $('.tt-hint').addClass('form-control input-lg');
    });
</script>
