<%= form_tag search_path, method: :get, class: "form-inline" do %>
  <%= text_field_tag :query, params[:query], placeholder: 'e.g. Shawshank', class: "form-control input-lg query" %>
  <%= submit_tag('Search', class: "btn btn-primary btn-lg") %>
<% end %>

<script type="x-template/mustache" id="template-dropdown">
    <div class="row">
        <div class="col-lg-3">
            <img height="250" width="169" src="/proxy?url={{img}}"
                style="margin: 10px auto; display: block;">
        </div>
        <div class="col-lg-9">
            <h2>{{title}} ({{year}})</h2>
            <h3>Rating: {{score}}/10</h3>
            <p>{{description}}</p>
        </div>
    </div>
</script>

<script>
    $(function() {
        $('input.query').typeahead({
            name: 'movies',
            valueKey: 'title',
            template: $('#template-dropdown').html(),
            engine: Hogan,
            remote: {
                url: '/search?query=%QUERY',
                filter: function(resp) {
                    console.log(resp);
                    return resp.hits;
                }
            }
        });
    });
</script>
